@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.DKC a {
  margin: 0;
  font-family: "Playfair Display", arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #77626b
}